<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>You can find us on:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://twitter.com/nexus_sjcet" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/the.nexus.project/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://gitlab.com/thenexusproject/" class="me-4 text-reset">
        <i class="fab fa-gitlab"></i>
      </a>
      <a href="https://github.com/thenexusproject/" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Nexus SJCET
          </h6>
          <p>
            Bharananganam Pravithanam Road Kottayam, Palai, Choondacherry, Kerala 686579
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a href="https://nexus.sjcetpalai.ac.in/post'" class="text-reset">Blog</a>
          </p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Free_software" class="text-reset">What is Free Software?</a>
          </p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Open-source_hardware" class="text-reset">What is Open Hardware?</a>
          </p>
          <p>
            <a href="https://web.sjcetpalai.ac.in/" class="text-reset">About SJCET, Palai</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:nexus@sjcetpalai.ac.in" class="text-reset">nexus@sjcetpalai.ac.in</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © Copyleft by  <a class="text-reset fw-bold" href="https://nexus.sjcetpalai.ac.in/">Nexus SJCET</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
